 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .product-category_1 {
            margin: 20px auto;
            width: 80%;
        }

        .product-category_1>h2 {
            text-align: center;
        }

        .product-list_1 {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
        }

        .product-item_1 {
            flex: 0 0 calc(20% - 20px);
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
            border: 1px solid #ddd;
            margin: 10px;
            font-size: 16px;
        }

        .product-item_1 img {
            width: 120px;
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .product-item_1 h3 {
            font-size: 16px;
            margin: 5px 0;
        }

        .product-description_1 {
            font-size: 14px;
            margin: 5px 0;
        }

        .product-price_1 {
            font-size: 16px;
            margin: 5px 0;
        }

        .product-item_1 button {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .product-item_1 button:hover {
            background-color: bisque;
        }

        .cart_1 {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: flex;
            align-items: center;
        }

        .cart-icon_1 {
            position: relative;
        }

        .cart-icon_1 img {
            width: 30px;
            height: auto;
        }

        .cart-count_1 {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: red;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-size: 12px;
        }

        .hr_1 {
            margin: 30px;
        }

        @media screen and (max-width: 768px) {
            .product-item_1 {
                flex: 0 0 calc(33.33% - 20px);
            }
        }

        @media screen and (max-width: 576px) {
            .product-item_1 {
                flex: 0 0 calc(50% - 20px);
            }
        }